In [1]:
housing_idaho <- read.csv("housing_idaho.csv")
head(housing_idaho)

# 53

  RT SERIALNO DIVISION PUMA REGION ST ADJUST  WGTP NP TYPE ⋯ wgtp71 wgtp72
1 H  186      8        700  4      16 1015675  89  4  1    ⋯  81     27
2 H  306      8        700  4      16 1015675 310  1  1    ⋯ 292    401
3 H  395      8        100  4      16 1015675 106  2  1    ⋯ 123    119
4 H  506      8        700  4      16 1015675 240  4  1    ⋯  68    359
5 H  835      8        800  4      16 1015675 118  4  1    ⋯ 127     36
6 H  989      8        700  4      16 1015675 115  4  1    ⋯ 120     34
  wgtp73 wgtp74 wgtp75 wgtp76 wgtp77 wgtp78 wgtp79 wgtp80
1  93    151     28     79     25    101    157    129
2  81    494    346    496    615    286    454    260
3 168    107     95    101     30    124    106     31
4 385     71    234    421     76     77    242    231
5 119    121    116    209     97    176    144     38
6 109    199    116    110    211    120     31    189

In [10]:
head(housing_idaho$FES)

[1]  2 NA  7  1  1  2

In [13]:
library(readxl)
dat <- read_excel("NGAP.xlsx", range="G18:O23")
sum(dat$Zip*dat$Ext,na.rm=T)

[1] 36534720

In [ ]:
library(XML)
restaurants <- xmlParse("restaurants.xml")
restaurants_data <- xmlToDataFrame(restaurants)
sum(restaurants_data$zipcode == "21231")

#127

[1] 0

In [18]:
idaho <- read.csv("idaho.csv")
head(idaho)

  RT SERIALNO SPORDER PUMA ST ADJUST  PWGTP AGEP CIT COW ⋯ pwgtp71 pwgtp72
1 P  186      1       700  16 1015675  89   43   1    7  ⋯  82      27
2 P  186      2       700  16 1015675  92   42   1    4  ⋯  84      26
3 P  186      3       700  16 1015675 107   16   1    1  ⋯  90      28
4 P  186      4       700  16 1015675  91   14   1   NA  ⋯  81      28
5 P  306      1       700  16 1015675 309   29   1    5  ⋯ 294     400
6 P  395      1       100  16 1015675 108   40   1    8  ⋯ 123     119
  pwgtp73 pwgtp74 pwgtp75 pwgtp76 pwgtp77 pwgtp78 pwgtp79 pwgtp80
1  92     150      28      78      25      99     159     129
2  90     159      30      87      27      98     167     131
3  92     177      33     105      30     104     206     156
4  94     164      29      88      27     104     156     138
5  80     489     340     491     612     282     462     259
6 171     108      97     104      31     127     108      31

In [23]:
library(data.table)
DT <- fread("idaho.csv")

# Function to time each method
test_speed <- function() {
  # Method 1
  #t1 <- system.time(mean(DT[DT$SEX==1,]$pwgtp15), mean(DT[DT$SEX==2,]$pwgtp15))
  
  # Method 2  
  t2 <- system.time(DT[,mean(pwgtp15),by=SEX])
  
  # Method 3
  #t3 <- system.time(mean(DT$pwgtp15,by=DT$SEX))
  
  # Method 4
  t4 <- system.time(sapply(split(DT$pwgtp15,DT$SEX),mean))
  
  # Method 5
  #t5 <- system.time(tapply(DT$pwgtp15,DT$SEX,mean))
  
  # Method 6
  t6 <- system.time(rowMeans(DT)[DT$SEX==1], rowMeans(DT)[DT$SEX==2])
  
  # Return user times
  times <- c(t1[1], t2[1], t3[1], t4[1], t5[1])
  names(times) <- c("Method 1", "Method 2", "Method 3", "Method 4", "Method 5")
  return(times)
}

# Run timing test
results <- test_speed()
print(results)
which.min(results) # Find fastest method

Method 1 Method 2 Method 3 Method 4 Method 5
       0        0        0        0        0

Method 1
       1



Tidy data has one variable per column.